@font-face {
    font-family:"Roboto Slab";
    src:url(fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}



:root {
    --nav-background-color:CornflowerBlue;
    --nav-text-color:White; /*Including search input and its bottom margin*/
    --nav-item-font-size: 2rem;
    --nav-search-icon-width:35px;
    --nav-search-icon-height:35px;
    --nav-search-input-width:250px;
    --nav-search-input-width-on-focus:350px;
    --nav-search-input-font-size: 1.2rem;
}

html, body {
    padding:0;
    margin:0;
}

nav {
    /*border:1px solid red;*/
    background-color:var(--nav-background-color);
    color:var(--nav-text-color);
}

.nav-container {
    /*border:1px solid blue;*/
    padding:0;
    margin:0;
    list-style-type:none;
    font-size:var(--nav-item-font-size);
    font-family:"Roboto Slab", serif;
    text-align: center;
    /**/
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-wrap:wrap;/*no wrapping scenario is intended, it's done just in case it overflows*/
}

.nav-container > .nav-item {
    /*border:1px solid orchid;*/
    white-space:nowrap;
    padding:5px;
    margin-left:8px;
    margin-right:8px;
    margin-bottom:8px;
}

.nav-container > .logo {
    display: flex;
    justify-content:center;
}

.nav-container > .logo a {
    margin-left:7px;
    align-self:flex-end;
    font-weight: bold;
}

.nav-container > .search > .search-wrapper {
    display: flex;
}

.nav-container > .search > .search-wrapper > svg {
    width:var(--nav-search-icon-width);
    height:var(--nav-search-icon-height);
    fill:var(--nav-text-color);
}

/*not responsive*/

.nav-container > .search > .search-wrapper input {
    background-color:transparent;
    color:var(--nav-text-color);
    margin-left:5px;
    font-family:"Roboto Slab", serif;
    font-weight: 500;
    font-size:var(--nav-search-input-font-size);
    padding:3px;
    border:none;
    border-bottom:1.5px solid var(--nav-text-color);
    outline:none;
    width:var(--nav-search-input-width);
    transition:width .5s ease-out;
}

/* not responsive */
.nav-container > .search > .search-wrapper input:focus {
    width:var(--nav-search-input-width-on-focus);
}

.nav-container > .search > .search-wrapper input::placeholder {
    color:var(--nav-text-color);
    opacity:.7;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size:1rem;
}

/*If not mobile*/
@media screen and (min-width:480px) {
    .nav-container > .logo {
        margin-right:auto; /* Push the logo to the left only if not on mobile*/
    }
}

/*For tablets*/
@media screen and (max-width:1024px) {
    :root {
        --nav-item-font-size: 1.2rem;
        --nav-search-icon-width:30px;
        --nav-search-icon-height:30px;
        --nav-search-input-width:120px;
        --nav-search-input-width-on-focus:168px;
        --nav-search-input-font-size: .72rem;
    }
}

/*For mobiles*/
@media screen and (max-width:480px) {
    :root {
        --nav-search-input-width:70%;
        --nav-search-input-width-on-focus:85%;
    }

    .nav-container {
        flex-direction: column;
        align-items: stretch;
    }

    /*Make the search bar below the logo*/
    .nav-container > .logo {
        order:-2;
    }

    .nav-container > .search {
        order:-1;
    }
}